# Variables

In [4]:
x = (1, 2 ,3 ,4)

In [5]:
print(x)

(1, 2, 3, 4)

In [3]:
2 = (1, 2, 3, 4)

SyntaxError: cannot assign to literal (<ipython-input-3-92901522633b>, line 1)

In [ ]:
True False true false

In [6]:
True = (1, 2, 3, 4)

SyntaxError: cannot assign to True (<ipython-input-6-bf2c13f59acb>, line 1)

In [7]:
true = (1, 2, 3, 4)

In [8]:
print(true)

(1, 2, 3, 4)

In [10]:
true_name = 1, 2, 3, 4

# Mathematical Operators

In [11]:
3-2

1

In [15]:
3*2

6

In [16]:
6/2

3.0

In [17]:
3**2

9

In [18]:
round(3.5)

4

In [19]:
x = 7/2

In [20]:
print(x)

3.5

In [21]:
round(x)

4

In [22]:
round(7/2)

4

In [23]:
5%2

1

# Comparison Operators

In [35]:
x = 2

In [36]:
print(x)

2

In [45]:
x == 2

True

In [38]:
2 > 1

True

In [39]:
x != 2

False

In [40]:
True == False

False

In [41]:
True == True

True

In [42]:
True < False

False

In [43]:
True > False

True

In [46]:
# True (1) and False (0)

# Strings

In [47]:
y = 'Hello Amir's World'

SyntaxError: invalid syntax (<ipython-input-47-8690d0eedd72>, line 1)

In [48]:
y = "Hello Amir's World"

In [49]:
print(y)

Hello Amir's World

In [50]:
"Hello World"

'Hello World'

In [52]:
1

1

In [53]:
(1, 2, 3, 4)

(1, 2, 3, 4)

In [54]:
y

"Hello Amir's World"

In [57]:
print(y)

Hello Amir's World

In [58]:
# The command to check a data type?
type(y)

str

In [59]:
a = 1
b = 2.6
c = [1, 2, 3, 4, 5, 6]
d = {"Markowska" : "K", "Said" : "A"} # curly brackets good indicator you have a dictionary
e = ("one", "two", "three")
f = {1:{"key":"value"}, 2:{"key2":"value2"}}
g = True
h = False
i = 'integer'

In [65]:
type(a)

int

In [61]:
type(b)

dict

In [62]:
type(c)

str

In [66]:
type(d)

dict

In [67]:
type(e)

tuple

In [68]:
type(f)

dict

In [69]:
type(g)

bool

In [70]:
type(h)

bool

In [73]:
type(i)

str

## Length Function:

In [74]:
s = "Hello World"

In [75]:
s

'Hello World'

In [76]:
print(s)

Hello World

In [77]:
# Return the length (no of characters) in a string

len(s)

11

In [78]:
# Replace parts of a string with .replace()

s2 = s.replace("World", "People")

In [79]:
print(s2)

Hello People

## String Indexing:

In [80]:
s[0]

'H'

In [85]:
s[11]

IndexError: string index out of range

In [86]:
s[5]

' '

In [94]:
# SLICING

s[0:4]

# Shows everything from index position 0 up to and BEFORE index position 4 - so returns 'Hell'.

'Hell'

In [92]:
s[6:]

# Returns everything from the sixth character (which is in index position 7) onwards in a string.

'World'

In [93]:
s[:]

# Returns everything!

'Hello World'

In [96]:
s[-1]

# Returning characters from the end of a string, use minus values!

'd'

In [98]:
s[0:10:2]

# Takes everything from the start (index position 0), goes up to the 10th index position, but for every 2nd character.

'HloWr'

In [102]:
# Indexing a LIST:

[0, 1, 2, 3, 4, 5, 6,][::2]

# Indexing different data types besides strings

[0, 2, 4, 6]

In [101]:
[0, 1, 2, 3, 4, 5, 6,][::-2]

[6, 4, 2, 0]

## Concatenating

In [108]:
x = "Hello"
y = "World"

print(x, y)

Hello World

In [109]:
x + y

'HelloWorld'

In [110]:
x + " " + y

'Hello World'

In [111]:
space = " "

In [112]:
x + space + y

'Hello World'

In [115]:
# Concatenating integer by converting into a string

dice_roll = 3

In [117]:
type(dice_roll)

int

In [121]:
print("You rolled a" + dice_roll + ".")

TypeError: can only concatenate str (not "int") to str

In [123]:
print("You rolled a " + str(dice_roll) + ".")

You rolled a 3.

In [129]:
print("You rolled a", str(dice_roll) + ".") # <-- could mix , and + too!

You rolled a 3.

# Lists

In [130]:
l = [1,2,3,4]
print(l)

[1, 2, 3, 4]

In [131]:
type(l)

list

In [134]:
a = l

In [135]:
print(a)

[1, 2, 3, 4]

In [136]:
type(a)

list

In [139]:
names = ["Hagrid", "Ron", "Voldermort"]

In [140]:
print(names)

['Hagrid', 'Ron', 'Voldermort']

In [143]:
# .append()

names.append("Hermione")

print(names)

['Hagrid', 'Ron', 'Voldermort', 'Hermione', 'Hermione', 'Hermione']

In [145]:
names.remove("Hermione")
print(names)

['Hagrid', 'Ron', 'Voldermort', 'Hermione']

In [149]:
print(names[1:3])

['Ron', 'Voldermort']

In [150]:
["Carol", "Annie", "Jessica", "Michelle"][1][1:]

'nnie'

In [155]:
l = [1, "a", 1.0, 1+5]

In [156]:
print(l)

[1, 'a', 1.0, 6]

In [157]:
# range(start, stop, step)

start = 10 #<-- start at 10
stop = 30 #<-- stop at 30
step = 2 #<-- take steps of 2 to get there (step stage is OPTIONAL)

range(start, stop, step)

range(10, 30, 2)

In [159]:
# LIST FUNCTION: list()

list(range(start, stop, step))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [169]:
# .insert(index, value)

names.insert(2, "Harry")

names

['Hagrid', 'Ron', 'Harry', 'Voldermort', 'Hermione']

In [170]:
# .remove()

names.remove("Harry")

names

['Hagrid', 'Ron', 'Voldermort', 'Hermione']

In [172]:
# CHALLENGE

#1) CREATE A LIST OF FIVE ELEMENTS, AND

#a) PRINT THE LAST THREE ELEMENTS
#b) INSERT TWO NEW ELEMENTS AT INDEX POSITION 2 AND APPEND ONE ELEMENT TO THE VERY END
#c) REMOVE ONE ELEMENT OF YOUR CHOICE
#d) PRINT EVERY OTHER ELEMENT IN YOUR LIST (I.E. STEPS OF TWO)

In [178]:
animals = ["dog", "cat", "mouse", "bird", "chicken"]

In [179]:
animals[2:]

['mouse', 'bird', 'chicken']

In [180]:
animals.insert(2, "whale")

In [181]:
animals.insert(2, "dolphin")

In [182]:
animals

['dog', 'cat', 'dolphin', 'whale', 'mouse', 'bird', 'chicken']

In [183]:
animals.append("rat")

In [184]:
animals

['dog', 'cat', 'dolphin', 'whale', 'mouse', 'bird', 'chicken', 'rat']

In [185]:
animals.remove("dolphin")

In [186]:
animals

['dog', 'cat', 'whale', 'mouse', 'bird', 'chicken', 'rat']

In [188]:
animals[::2]

['dog', 'whale', 'bird', 'rat']

# Tuples

In [189]:
point = (10, 20)
print(point)

(10, 20)

In [190]:
type(point)

tuple

In [191]:
# Indexing a tuple:

point[1]

20

# Dictionaries

In [192]:
params = {"key 1" : 1.0, "key 2" : 2.0, "key 3" : 3.0}

In [193]:
type(params)

dict

In [194]:
print(params)

{'key 1': 1.0, 'key 2': 2.0, 'key 3': 3.0}

In [197]:
params["key 1"]

1.0

In [199]:
params.append("Key 4" : 4.0)

SyntaxError: invalid syntax (<ipython-input-199-0009959657b0>, line 1)

In [205]:
# ADDING a new key-value into our params dictionary:

params["key 4"] = 4.0

In [206]:
print(params)

{'key 1': 1.0, 'key 2': 2.0, 'key 3': 3.0, 'key 4': 4.0}

In [207]:
# REASSIGNING the value of a key-value pair in a dictionary:

params["key 1"] = 11.0

In [208]:
params

{'key 1': 11.0, 'key 2': 2.0, 'key 3': 3.0, 'key 4': 4.0}

In [212]:
# CONCATENATING using my dictionary:

print("key 1" + " " + str(params["key 1"]))

key 1 11.0

In [216]:
# ITEMISE elements of dictionary using .items()

list(params.items())

[('key 1', 11.0), ('key 2', 2.0), ('key 3', 3.0), ('key 4', 4.0)]

In [217]:
# DELETE a key-value from a dictionary using .pop()

params.pop("key 3")

3.0

In [218]:
params

{'key 1': 11.0, 'key 2': 2.0, 'key 4': 4.0}