# `if` Statement

In [1]:
if 1 == 1:
    print("The integer 1 is equal to the integer 1")

The integer 1 is equal to the integer 1

In [2]:
if 1 == 2:
    print("The integer 1 is equal to the integer 1")

In [3]:
if "one" == "two":
    print("The string 'one' is equal to the string 'two'.")
    
print("-----------")

-----------

# `if`... `else` Statements

In [4]:
test_string = "Christmas is here"

if test_string[0] == "C":
    print("Begins with C")
else:
    print("Does not begin with C")

Begins with C

In [5]:
test_string = "Santa is here"

if test_string[0] == "C":
    print("Begins with C")
else:
    print("Does not begin with C")

Does not begin with C

In [6]:
if 50 < 30:
    print("50 < 30.")
else:
    print("50 >= 30.")
    
print("-----")

# print("-----") will run REGARDLESS of what happens in the if... else statement.

50 >= 30.
-----

# `elif` Statements

In [7]:
health = 55

if health > 70:
    print("Wow! You're super healthy!")
elif health > 40:
    print("Your health is average. Book an appointment in six months.")
else:
    print("Uh oh, you are not that healthy. Please see a doctor.")

Your health is average. Book an appointment in six months.

In [8]:
health = 50

if health > 70:
    print("Wow! You're super healthy!")
elif health > 40:
    print("Your health is average. Book an appointment in six months.")
elif health >= 1:
    print("Uh oh, you are not that healthy. Please see a doctor.")
else:
    print("Please see a Coroner.")

Your health is average. Book an appointment in six months.

# `for` Loop

In [9]:
# For each individual object in the list
    # perform task_A on said object.
    # Once task_A has been completed, move to next object in the list.

In [10]:
names = ["Hagrid", "Ron", "Voldermort"]

In [11]:
names

['Hagrid', 'Ron', 'Voldermort']

In [12]:
type(names)

list

In [13]:
for name in names: #<-- basically saying: for ITEM in names
    print(name + " Is Awesome!") #<-- print ITEM (aka name)

Hagrid Is Awesome!
Ron Is Awesome!
Voldermort Is Awesome!

In [14]:
for name in names:
    if name == "Voldermort":
        print("He Who Must Not Be Named" + " is not so awesome.")
    else:
        print(name + " Is Awesome!")

Hagrid Is Awesome!
Ron Is Awesome!
He Who Must Not Be Named is not so awesome.

***

## ACTIVITY

**Write your own `for` loop using `if` and `else` statements. If you're feeling keen, add an `elif` statement in there too!**

In [15]:
names

['Hagrid', 'Ron', 'Voldermort']

In [16]:
names.insert(2, "Harry")

In [17]:
names

['Hagrid', 'Ron', 'Harry', 'Voldermort']

### _Yesmita's Example:_

In [18]:
for name in names:
    if name == "Hagrid":
        print ("Hagrid is a Giant" + " and knows his dragons well.")
    else:
            print(name + " is a wizard!")

Hagrid is a Giant and knows his dragons well.
Ron is a wizard!
Harry is a wizard!
Voldermort is a wizard!

### _Lucy M's Example:_

In [19]:
Christmas_Dinner = ["Turkey", "Roast Potatoes", "Brussel Sprouts", "Carrots", "Gravy", "Pigs In Blankets"]

In [20]:
for food in Christmas_Dinner:
    if food == "Brussel Sprouts":
        print(food + " Yuk!!!") 
    elif food == "Turkey":
        print(food + " Dry!!!")
    else:
        print(food + " Yum!!!")

Turkey Dry!!!
Roast Potatoes Yum!!!
Brussel Sprouts Yuk!!!
Carrots Yum!!!
Gravy Yum!!!
Pigs In Blankets Yum!!!

***

In [21]:
# Create a for loop that iterates from number 1 to number 15:

for num in range(15):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [22]:
for num in range(1,16):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [23]:
# Iterate from 1 to 15, printing whether the number is ODD or EVEN

for num in range(1,16):
    print(num, ["even","odd"][num % 2])

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd

## Fizzbuzz Coding Challenge:

In [24]:
#1) If a number is divisible by 3, print "fizz"
#2) If a number is divisible by 5, print "buzz"
#3) If a number is divisible by 3 AND 5, print "fizzbuzz"
#4) Otherwise, just print the number.

In [25]:
for num in range(1,31): #<-- from 1, up to but NOT including 31 (i.e. 1-30)
    if num % 15 == 0:
        print("fizzbuzz")
    elif num % 5 == 0:
        print("buzz")
    elif num % 3 == 0:
        print("fizz")
    else:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

# try / except

In [26]:
1 / 0

ZeroDivisionError: division by zero

In [ ]:
a = [1, 2, 3, 0, 4]

In [ ]:
for num in a:
    try:
        print(1/num)
    except:
        print("Sorry, can't divide by zero.")

In [34]:
# USE CASE:

try:
    float(input("Type a number: "))
except:
    print("Please type a number")

Type a number: 50

In [29]:
# One More Try Except Example:

In [30]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [31]:
new_list = [] #<-- creates a new, empty list

In [32]:
for num in corrupted:
    try:
        new_list.append(float(num))
    except:
        pass #<-- if we don't want it to do anything with 'except', then can use keyword 'pass' to suggest code moves on!

In [33]:
new_list

[23.1, 0.12, -11.1, 1000.0]

# Functions

In [40]:
# Area of a Triangle

area = 0.5 * 5 * 4
print(area)

# Functions makes this more repeatable and efficient

10.0

```python
area = 0.5 * height * width
```

- Height and width are not defined.
- What a function does is turns this into a repeatable code you can repeat again and again.

In [43]:
def triangle_area(height, width): #<-- don't forget the colon, important for intendation.
    area = 0.5 * height * width
    return area #<-- so that function knows when to end a piece of code

In [44]:
triangle_area(5, 4)

10.0

In [45]:
triangle_area(67, 23)

770.5

**Therefore, this function saves having to write the long-form formula over and over again!**

In [53]:
# Simple functions in Excel, demo'd in Python:

# SUM <-- in Excel, adds all of the values in a column you've specified.
# How do we do this in Python?

def sum(numbers):
    total = 0
    for i in numbers:
        total += i
    return total

In [54]:
sum((5, 6, 7))

18

In [56]:
column = [1, 7, 99, 27]
sum(column)

134

# While Loops

In [58]:
condition = 10
while condition < 20:
    print("hello")
    condition += 1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [1]:
status = False
while status is False:
    answer = str(input("What is my favourite animal? ")).lower() #<-- turns any string input into lower case so it matches our answer.
    if answer == "cat":
        print("while loop has ended")
        status = True #<-- ends the while loop

What is my favourite animal? dog
What is my favourite animal? killer whale
What is my favourite animal? eagle
What is my favourite animal? cat
while loop has ended

# List and Dictionary Comprehensions

In [3]:
sales_pounds = [300, 500, 200, 250, 860, 100, 120]

sales_dollars = [sale * 1.5 for sale in sales_pounds]

In [4]:
print(sales_pounds)
print(sales_dollars)

[300, 500, 200, 250, 860, 100, 120]
[450.0, 750.0, 300.0, 375.0, 1290.0, 150.0, 180.0]

**Therefore, this:**

```python
sales_dollars = [sale * 1.5 for sale in sales_pounds]
```
**is a shorter, cleaner, more efficient version of this:**

```python
# create an empty list 
sales_dollars = []

# loop through the sales_pound list
for sale in sales_pounds:
    # multiply by 1.5 and append to sales_dollar
    new_sale = sale * 1.5
    
    sales_dollars.append(new_sale)
```

**However, you may choose the longer form version if, say, you're showing your code to somebody for the first time (e.g. apprenticeship assessor).**

In [6]:
conditional_sales = [sale * 1.5 if sale > 150 else sale * 1.15 for sale in sales_pounds]
print(conditional_sales)

[450.0, 750.0, 300.0, 375.0, 1290.0, 114.99999999999999, 138.0]

In [7]:
animals = ["cat", "dog", "hippo", "orca"]
animal_length = {animal:len(animal) for animal in animals}
animal_length

{'cat': 3, 'dog': 3, 'hippo': 5, 'orca': 4}

In [8]:
animal_length={}
for animal in animals:
    animal_length[animal]=len(animal)
    
print(animal_length)

{'cat': 3, 'dog': 3, 'hippo': 5, 'orca': 4}